html{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 250, 250);
}
.card{
    margin-top: 2vh;
    margin-bottom:4vh;
    margin-left:5vw;
    margin-right: 5vw;
    padding:10px;
    border: 1px solid gray;
    border-radius: 25px;
    height:120vh;
    width: 45vw;
    position:absolute;
    left: 23vw;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
}
/* .element{
    margin:0px;
    padding: 0px;
} */
.more{
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
    border-radius: 50px;
    background-color: #deecfc;
    font-family: 'Poppins', sans-serif;
    text-decoration-color: blue;
    margin-top: 20px;
    margin-left: 40%;
}
.read_more {
    display: flex;
    align-items: center;
}
.more > p {
    margin:0px;
    padding: 0px;
    color:blue;
    font-weight:bold;
    font-size: 18px;
}
.image{
    height:50vh;
    width:44.5vw;
    /* position:absolute; */
    top:5px;
    left:7px;
    margin:3px;
    padding:3px;
    border-radius: 25px;
    box-shadow: 5px 5px 8px red , 5px 5px 8px blue;
}
.tags{
    margin: 0px;
    padding: 0px;
    top: 54vh;
    left:-2vw;
}
ul{
    list-style-type: circle;
}
.list_item{
    margin:5px;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left:15px;
    padding-right: 15px;
    border: 1px solid gray;
    border-radius: 20px;
    display:inline;
    list-style: none;
    font-size: 15;
}

.list_item:hover{
    background-color: #bd9c9c;
    color: #ffffff;
}
.element > .more:hover{
    background-color: #bd9c9c;
    color:chocolate;
}
#text_container{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    text-align: center;
    max-width: 150px;
    border-radius: 20px;
    text-shadow: 2px 2px 5px blue , 0 0 3px #FF0000;
}
.text{
    max-height: 250px;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    overflow: auto;
    box-shadow: 5px 5px 5px lightblue;
}